<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97564249850-ta5064r738qkh7hgpkjq137gr4gi3hc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97564249850-ta5064r738qkh7hgpkjq137gr4gi3hc6</string>
	<key>API_KEY</key>
	<string>AIzaSyAGiyu0Scou2eKL-m0W6clyY7lNMnayJyo</string>
	<key>GCM_SENDER_ID</key>
	<string>97564249850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.majaplace</string>
	<key>PROJECT_ID</key>
	<string>majaloc</string>
	<key>STORAGE_BUCKET</key>
	<string>majaloc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97564249850:ios:26316bde0d20354ea0c343</string>
	<key>DATABASE_URL</key>
	<string>https://majaloc.firebaseio.com</string>
</dict>
</plist>